        {% load static %}

        body {
			margin: 0;
			padding: 0;
			font-family: 'Bebas Neue';
		}

		.index-content {
		    height: 40vh;
		    width: 100vw;
		    background-color: black;
		    color: white;
		    text-align: center;
		}

		.button-row {
          display: flex;
          justify-content: space-between;
        }

        .red-button {
          text-decoration: none;
          background-color: black;
          color: white;
          border: 3px solid #c51d3e;
          padding: 10px 20px;
          margin: 50px 50px;
          font-size: 24px;
          width: calc(33.33% - 10px);
          /* 10px is the space between the buttons */
        }

        .red-button:hover {
          background-color: #c51d3e;
          cursor: pointer;
        }

		.index-content p {
		    padding: 25px 0 0 0;
		    margin: 0;
		    font-size: 45px;
		}

        .sticky-top {
            position: sticky;
            top: 0;
            z-index: 999;
        }

		nav {
			background-color: black; /* Set the navigation bar background color to black */
			overflow: hidden;
		}

		nav a {
			float: left;
			color: white; /* Set the navigation button foreground color to white */
			text-align: center;
			padding: 15px 35px;
			text-decoration: none;
			height: 100%;
			font-size: 30px;
		}

		.active {
		    background-color: #c51d3e;
		    color: white;
		}

		nav a:hover {
			background-color: #c51d3e; /* Change the background color of the navigation button on hover to red */
			color: white;
		}






